body {
    background-image: url(./logo/danielrcLogo.png);
    background-size: 400px;
    /* background-repeat:  */
    
}

.game-container{
    margin: auto;
    text-align: center;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    text-align: center;
}


.footer {
    padding-top: 20%;
    position: fixed;
    bottom: 0%;
    color: antiquewhite;
    text-align: center;
    width: 100%;
}
