body {
    background-image: url(./logo/danielrcLogo.png);
    background-size: 400px;
    /* background-repeat:  */
    
}

.scoreboard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    height: 50rem;
}


#player-score{
    display: flex;
    color: white;
    font-family: Arial, sans-serif;
   padding: 1rem;
}

#dealer-score{
    color: white;
    font-family: Arial, sans-serif;
   padding: 1rem;
   text-align: center;
}

.game-container {
    margin: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    padding: 5px;

}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    text-align: center;
}

.playerButtons {
    position: absolute;
    bottom: 20%;
    left: 5%;
    padding: 10px;
    margin-bottom: 2rem;
    width: 85%;
}
 

.footer {
    padding-top: 20%;
    position: fixed;
    bottom: 0%;
    color: antiquewhite;
    text-align: center;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}
